/User.class
/Restaurant.class
/Customer.class
/Person.class
/Courier.class
/Manager.class
/Location.class
/CourierTest.class
/CustomerTest.class
/PersonTest.class
/RestaurantTest.class
/UserTest.class
